@model MyApplicationMVC.Models.IpInfo

@{
    ViewBag.Title = "Ip Info";
}

<h2>IpInfo</h2>

<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-condensed" style="background:RGBA(34,34,34,0.7)">
            <tbody>
                <tr style="color:aqua;">
                    <th>Ip </th>
                    <th>Status request </th>
                    <th>Country </th>
                    <th>City </th>
                    <th>Provider </th>
                </tr>
                @if (Model != null)
                {
                <tr>
                    <td><p>@Model.ip</p></td>
                    <td><p>@Model.status</p></td>
                    <td><p>@Model.country</p></td>
                    <td><p>@Model.city</p></td>
                    <td><p>@Model.org</p></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>