

@{
    ViewBag.Title = "Parser";
}
@*@model MyApplicationMVC.Models.Tools;*@
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
       // window.bufferField = @*@ViewBag*@; <- глобальная перменная JS. 
    });
</script>

<h2>Parser</h2>
<p>Загрузите в обработчик лог файл</p>
<div class="SelectLogFile">

    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input id="ButtonUploadFile" type="file" name="upload" /><br />
        <input id="ButtonSaveFile" type="submit" value="Загрузить" />
        <p></p>

        if (ViewBag.Check != null)
        {
            <script language='javascript' type='text/javascript'>alert('Error! File path will not find or not txt format file.');</script>
        }
    }
</div>

@*<div class="row">*@
    <div class="col-md-6">
        <table class="table">
            <tr style="color:aqua;">
                <th>№ </th>
                <th>IP </th>
                <th>DateTime </th>
                <th>TimeZone </th>
                <th>TypeRequest </th>
                <th>StatusCode </th>
                <th>FileDownload </th>
                <th>SizeTransmitDate </th>
            </tr>


            @if (ViewBag.Strings != null)
            {
               foreach (var el in ViewBag.Strings){
                <tr style="background:RGBA(34,34,34,0.7); color:aquamarine">
                            <td><p>@el.Id</p></td>
                            <td><p><a href="/Home/IpInfo?ip=@el.Ip">@el.Ip</a></p></td>
                            <td><p>@el.DateTime</p></td>
                            <td><p>@el.TimeZone</p></td>
                            <td><p>@el.TypeRequest</p></td>
                            <td><p>@el.StatusCode</p></td>
                            <td><p>@el.FileDownload</p></td>
                            <td><p>@el.SizeTransmitDate</p></td>
                            </tr>
                }
            }
        </table>
    </div>
</div>
